{%- if site.twitter_username -%}<a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="social-icon"><use xlink:href="{{ '/assets/social-icons.svg#twitter' | relative_url }}"></use></svg></a>{%- endif -%}

{%- if site.github_username -%}<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="social-icon"><use xlink:href="{{ '/assets/social-icons.svg#github' | relative_url }}"></use></svg></a>{%- endif -%}

<a href="https://stackoverflow.com/users/2219133/ngasull"><svg class="social-icon"><use xlink:href="{{ '/assets/social-icons.svg#stackoverflow' | relative_url }}"></use></svg></a>

{%- if site.linkedin_username -%}<a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="social-icon"><use xlink:href="{{ '/assets/social-icons.svg#linkedin' | relative_url }}"></use></svg></a>{%- endif -%}

{%- if site.rss -%}<a href="{{ 'feed.xml' | relative_url }}"><svg class="social-icon"><use xlink:href="{{ '/assets/social-icons.svg#rss' | relative_url }}"></use></svg></a>{%- endif -%}

