body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-main {
  flex: 1;
  padding: $spacing-m 0;
}

.home-post-date {
  margin-right: $spacing-s;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  vertical-align: middle;
}

.post-meta {
  display: none;
}

.h-permalink:hover {
  color: currentColor;
  text-decoration: none;
}

#disqus_thread a {
  color: $color-primary;
}
