body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

.site-header {
  position: fixed;
  left: 0;
  right: 0;
  background: $color-tertiary;
  min-height: 2.5rem;
  line-height: 2.5rem;
  padding: $spacing-s $spacing-m;
  font-size: 1.8rem;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
}

.header-title {
  float: left;
}

.header-nav-link {
  margin: 0 $spacing-s;
}

.header-nav-active {
  font-weight: 500;
}

.header-nav {
  text-align: right;
  overflow: auto hidden;
  scrollbar-width: none;
}

.when-grid {
  display: none;
}

@media (min-width: $viewport-grid-limit) {
  .site-header {
    min-height: 3.2rem;
    line-height: 3.2rem;
    font-size: 2rem;
  }

  .header-title,
  .header-nav {
    position: absolute;
    top: $spacing-s;
  }

  .header-title {
    left: $spacing-m;
    text-align: left;
  }

  .header-nav {
    display: inline-block;
    right: $spacing-m - $spacing-s; /* Padding - last link's margin */
    text-align: right;
  }

  .when-grid {
    display: initial;
  }
}

/* Main content */

.site-main {
  flex: 1;
  margin-top: $site-header-height;
  padding: $spacing-m 0;
}

article > header {
  h1,
  h3 {
    margin-bottom: 0;
  }
}

.post-meta {
  font-size: 1.5rem;
}

/* Footer */

.site-footer {
  padding: $spacing-m 0;
  background: $color-tertiary;
  text-align: center;
}

.social-list {
  margin-top: $spacing-s;
}

.social-icon {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: text-top;
  padding: $spacing-m / 2;
  margin: -$spacing-m / 2 0;
  fill: currentColor;
}

@media (min-width: $viewport-grid-limit) {
  .site-footer {
    text-align: inherit;
  }

  .social-list {
    text-align: right;
    margin-top: 0;
  }
}
