.site-footer {
  padding: $spacing-m 0;
  background: $color-tertiary;
}

.site-footer-description {
  font-size: 2rem;
}

.social-icon {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: text-top;
  padding: $spacing-m / 2;
  margin: -$spacing-m / 2 0;
  fill: currentColor;
}
