.site-footer {
  padding: $spacing-m 0;
  background: $color-tertiary;
}

.site-footer-description {
  font-size: 2rem;
}

.social-entry {
  display: block;
  color: $color-secondary;
}

.social-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 4px;
  fill: $color-secondary;
}
