.site-footer {
  padding: $spacing-m 0;
  background: $color-tertiary;
  text-align: center;
}

.social-list {
  margin-top: $spacing-s;
}

.social-icon {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: text-top;
  padding: $spacing-m / 2;
  margin: -$spacing-m / 2 0;
  fill: currentColor;
}

@media (min-width: $viewport-grid-limit) {
  .site-footer {
    text-align: inherit;
  }

  .social-list {
    text-align: right;
    margin-top: 0;
  }
}
