pre {
  background-color: #282a36;
}
.hll {
  background-color: #44475a;
}
/* Comment */
.c {
  color: #6272a4;
}
/* Error */
.err {
  color: #ff5555;
  background-color: #1e0010;
}
/* Keyword */
.k {
  color: #bd93f9;
}
/* Literal */
.l {
  color: #ae81ff;
}
/* Name */
.n {
  color: #f8f8f2;
}
/* Operator */
.o {
  color: #bd93f9;
}
/* Punctuation */
.p {
  color: #f8f8f2;
}
/* Comment.Multiline */
.cm {
  color: #6272a4;
}
/* Comment.Preproc */
.cp {
  color: #6272a4;
}
/* Comment.Single */
.c1 {
  color: #6272a4;
}
/* Comment.Special */
.cs {
  color: #6272a4;
}
/* Generic.Emph */
.ge {
  font-style: italic;
}
/* Generic.Strong */
.gs {
  font-weight: bold;
}
/* Keyword.Constant */
.kc {
  color: #bd93f9;
}
/* Keyword.Declaration */
.kd {
  color: #bd93f9;
}
/* Keyword.Namespace */
.kn {
  color: #bd93f9;
}
/* Keyword.Pseudo */
.kp {
  color: #bd93f9;
}
/* Keyword.Reserved */
.kr {
  color: #bd93f9;
}
/* Keyword.Type */
.kt {
  color: #bd93f9;
}
/* Literal.Date */
.ld {
  color: #e6db74;
}
/* Literal.Number */
.m {
  color: #ae81ff;
}
/* Literal.String */
.s {
  color: #e6db74;
}
/* Name.Attribute */
.na {
  color: #50fa7b;
}
/* Name.Builtin */
.nb {
  color: #f8f8f2;
}
/* Name.Class */
.nc {
  color: #50fa7b;
}
/* Name.Constant */
.no {
  color: #bd93f9;
}
/* Name.Decorator */
.nd {
  color: #50fa7b;
}
/* Name.Entity */
.ni {
  color: #f8f8f2;
}
/* Name.Exception */
.ne {
  color: #50fa7b;
}
/* Name.Function */
.nf {
  color: #50fa7b;
}
/* Name.Label */
.nl {
  color: #f8f8f2;
}
/* Name.Namespace */
.nn {
  color: #f8f8f2;
}
/* Name.Other */
.nx {
  color: #50fa7b;
}
/* Name.Property */
.py {
  color: #f8f8f2;
}
/* Name.Tag */
.nt {
  color: #bd93f9;
}
/* Name.Variable */
.nv {
  color: #f8f8f2;
}
/* Operator.Word */
.ow {
  color: #bd93f9;
}
/* Text.Whitespace */
.w {
  color: #f8f8f2;
}
/* Literal.Number.Float */
.mf {
  color: #ae81ff;
}
/* Literal.Number.Hex */
.mh {
  color: #ae81ff;
}
/* Literal.Number.Integer */
.mi {
  color: #ae81ff;
}
/* Literal.Number.Oct */
.mo {
  color: #ae81ff;
}
/* Literal.String.Backtick */
.sb {
  color: #e6db74;
}
/* Literal.String.Char */
.sc {
  color: #e6db74;
}
/* Literal.String.Doc */
.sd {
  color: #e6db74;
}
/* Literal.String.Double */
.s2 {
  color: #e6db74;
}
/* Literal.String.Escape */
.se {
  color: #ae81ff;
}
/* Literal.String.Heredoc */
.sh {
  color: #e6db74;
}
/* Literal.String.Interpol */
.si {
  color: #e6db74;
}
/* Literal.String.Other */
.sx {
  color: #e6db74;
}
/* Literal.String.Regex */
.sr {
  color: #e6db74;
}
/* Literal.String.Single */
.s1 {
  color: #e6db74;
}
/* Literal.String.Symbol */
.ss {
  color: #e6db74;
}
/* Name.Builtin.Pseudo */
.bp {
  color: #f8f8f2;
}
/* Name.Variable.Class */
.vc {
  color: #f8f8f2;
}
/* Name.Variable.Global */
.vg {
  color: #f8f8f2;
}
/* Name.Variable.Instance */
.vi {
  color: #f8f8f2;
}
/* Literal.Number.Integer.Long */
.il {
  color: #ae81ff;
}

/* Generic Heading & Diff Header */
.gh {
}
/* Generic.Subheading & Diff Unified/Comment? */
.gu {
  color: #6272a4;
}
/* Generic.Deleted & Diff Deleted */
.gd {
  color: #bd93f9;
}
/* Generic.Inserted & Diff Inserted */
.gi {
  color: #50fa7b;
}
