$container-width: 960px;
$viewport-grid-limit: 550px;

$spacing-s: 1rem;
$spacing-m: 2rem;

$color-initial: lighten(#282a36, 7%);
/* $color-initial: darken(#454e6d, 6%); */
$color-primary: #bd93f9;
$color-secondary: #f8f8f2;
/* $color-tertiary: #44475a; */
$color-tertiary: #282a36;
$color-quaternary: #faf7a2;
$color-quinary: #6272a4;
