:root {
	--nc-tx-1: #f8f8f2;
	--nc-tx-2: #eeeeee;
	--nc-bg-1: #282a36;
	--nc-bg-2: #2f3240;
	--nc-bg-3: #343747;
	--nc-lk-1: #bd93f9;
	--nc-lk-2: #6272a4;
	--nc-lk-tx: #282a36;
	--nc-ac-1: #6272a4;
	--nc-ac-tx: #f8f8f2;
  --nc-font-sans: system-ui, Ubuntu, Oxygen, Cantarell, Roboto, -apple-system,
    "Segoe UI", Arial, sans-serif;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 2rem;
}

input, select, textarea {
  border: 1px solid var(--nc-tx-2);
}

textarea {
  width: 100%;
}

figure > audio, figure > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

figcaption {
  margin-top: .5rem;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

.anchor {
  fill: var(--nc-tx-2);
  margin-left: 1rem;
}

@media (pointer:fine) {
  .anchor {
    visibility: hidden;
  }

  h2:hover .anchor, h3:hover .anchor {
    visibility: visible;
  }
}

@media (max-width: 750px) {
  body, header {
    padding: 1.5rem;
  }

  details, pre, table {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-radius: 0;
    border-width: 1px 0;
  }

  table {
    width: calc(100% + 3rem);
  }

  details, pre, td:first-child, th:first-child {
    padding-left: 1.5rem;
  }

  details, pre, td:last-child, th:last-child {
    padding-right: 1.5rem;
  }
}
