---
layout: default
---

{%- if site.posts.size > 0 -%}
  <h2>{{ page.list_title | default: "Posts" }}</h2>
  {%- for post in site.posts -%}
  <article>
    <h3>
      <span class="home-post-date">{{ post.date | date: "%Y.%m.%-d" }}</span>
      <br/>
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </article>
  {%- endfor -%}
{%- else -%}
<p>
  First post will be published soon!
</p>
{%- endif -%}
