---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p><i>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%Y.%m.%d" }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </i></p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
  document.querySelectorAll('h2[id],h3[id],h4[id]').forEach(function(h){h.innerHTML='<a href="#'+h.id+'" class="h-permalink">'+h.innerHTML+'</a>'})
</script>
