---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    {%- include post-meta.html post=page -%}
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {%- if false and site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
  document.querySelectorAll('h2[id],h3[id],h4[id]').forEach(function(h){h.innerHTML='<a href="#'+h.id+'" class="h-permalink">'+h.innerHTML+'</a>'})
</script>
